@using Microsoft.AspNet.Identity
@*For each page, use ProjectsHelper.LoadUserModel() to obtain the following:
    public class UserModel {
        public bool IsLoggedIn;
        public ApplicationUser User;
        public string UserName;
        public string Role;
        public bool IsDeveloper;
        public bool IsAdmin;
        public bool IsPM;
    }
    
    See example in /Home/Index *@



@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Bug Tracker</title>
    <link href="~/js/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/js/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/js/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />

    <!-- DataTables -->
    <link href="~/js/DataTables-1.10.7/media/css/jquery.dataTables.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- My custom stylesheet, put after all other stylesheets -->
    <link href="~/css/ejr-custom.css" rel="stylesheet" />
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>*@

    <!-- DataTables -->
    @*<script src="~/js/DataTables-1.10.7/media/js/jquery.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Aardvark", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - Eric J. Ruff</p>
        </footer>
    </div>
    <script>
        //$("#datepicker").datepicker({
        //    inline: true,
        //    dateFormat: "ddd d MMM yyyy"
        //});
    </script>

    <!-- DataTables -->
    <script src="~/js/DataTables-1.10.7/media/js/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>*@

<!-- Some pages are best if we suppress all the layout stuff, so check here -->
@if (ViewBag.SuppressDefaultLayout == null)
{ 

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <title>Dashboard - Aardvark</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">
    <link href="~/Template/canvas-admin-v1/Theme/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Template/canvas-admin-v1/Theme/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Template/canvas-admin-v1/Theme/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Template/canvas-admin-v1/Theme/js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css" />

    <link rel="stylesheet" href="~/Template/canvas-admin-v1/Theme/js/plugins/icheck/skins/minimal/blue.css" type="text/css" />
    <link rel="stylesheet" href="~/Template/canvas-admin-v1/Theme/js/plugins/select2/select2.css" type="text/css" />
    <link rel="stylesheet" href="~/Template/canvas-admin-v1/Theme/js/plugins/fullcalendar/fullcalendar.css" type="text/css" />

    <link rel="stylesheet" href="~/Template/canvas-admin-v1/Theme/css/App.css" type="text/css" />

    <link rel="stylesheet" href="~/Template/canvas-admin-v1/Theme/css/custom.css" type="text/css" />
    <!-- My custom stylesheet, put after all other stylesheets -->
    <link href="~/css/ejr-custom.css" rel="stylesheet" />
</head>

<body>

    <div id="wrapper">

        <header id="header">
            <h2 id="site-logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/img/TransparentAardvark.gif" height="50" />
                </a>
                Aardvark
            </h2>

            <a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
                <i class="fa fa-cog"></i>
            </a>

            <a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
                <i class="fa fa-reorder"></i>
            </a>

        </header> <!-- header -->


        <nav id="top-bar" class="collapse top-bar-collapse">

            <ul class="nav navbar-nav pull-left">
                <li class="">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        Dropdown <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:;"><i class="fa fa-user"></i>&nbsp;&nbsp;Example #1</a></li>
                        <li><a href="javascript:;"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Example #2</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Example #3</a></li>
                    </ul>
                </li>

            </ul>

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <i class="fa fa-user"></i>
                                @ViewBag.UserModel.DisplayName
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="@Url.Action("UserProfile", "Manage")" title="Change my profile settings">
                                        <i class="fa fa-user"></i>
                                        &nbsp;&nbsp;My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ChangePassword", "Manage")" title="Change my password">
                                        <i class="fa fa-key"></i>
                                        &nbsp;&nbsp;My Password
                                    </a>
                                </li>
                                @*<li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i>
                                        &nbsp;&nbsp;My Calendar
                                    </a>
                                </li>*@
                                <li>
                                    <a href="@Url.Action("Settings", "Manage")" title="Change various settings and preferences">
                                        <i class="fa fa-cogs"></i>
                                        &nbsp;&nbsp;Settings
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fa fa-sign-out"></i>
                                        &nbsp;&nbsp;Log off
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                </ul>
            }

        </nav> <!-- /#top-bar -->


        <div id="sidebar-wrapper" class="collapse sidebar-collapse">

            <div id="search">
                <form>
                    <input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

                    <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- #search -->

            <nav id="sidebar">

                <ul id="main-nav" class="open-active">

                    <li class="active">
                        <a href="./index.html">
                            <i class="fa fa-dashboard"></i>
                            Dashboard
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;">
                            <i class="fa fa-file-text"></i>
                            Example Pages
                            <span class="caret"></span>
                        </a>

                        <ul class="sub-nav">
                            <li>
                                <a href="./page-profile.html">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="./page-invoice.html">
                                    <i class="fa fa-money"></i>
                                    Invoice
                                </a>
                            </li>
                            <li>
                                <a href="./page-pricing.html">
                                    <i class="fa fa-dollar"></i>
                                    Pricing Plans
                                </a>
                            </li>
                            <li>
                                <a href="./page-support.html">
                                    <i class="fa fa-question"></i>
                                    Support Page
                                </a>
                            </li>
                            <li>
                                <a href="./page-gallery.html">
                                    <i class="fa fa-picture-o"></i>
                                    Gallery
                                </a>
                            </li>
                            <li>
                                <a href="./page-settings.html">
                                    <i class="fa fa-cogs"></i>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="./page-calendar.html">
                                    <i class="fa fa-calendar"></i>
                                    Calendar
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="dropdown">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            Form Elements
                            <span class="caret"></span>
                        </a>

                        <ul class="sub-nav">
                            <li>
                                <a href="./form-regular.html">
                                    <i class="fa fa-location-arrow"></i>
                                    Regular Elements
                                </a>
                            </li>
                            <li>
                                <a href="./form-extended.html">
                                    <i class="fa fa-magic"></i>
                                    Extended Elements
                                </a>
                            </li>
                            <li>
                                <a href="./form-validation.html">
                                    <i class="fa fa-check"></i>
                                    Validation
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="dropdown">
                        <a href="javascript:;">
                            <i class="fa fa-desktop"></i>
                            UI Features
                            <span class="caret"></span>
                        </a>

                        <ul class="sub-nav">
                            <li>
                                <a href="./ui-buttons.html">
                                    <i class="fa fa-hand-o-up"></i>
                                    Buttons
                                </a>
                            </li>
                            <li>
                                <a href="./ui-tabs.html">
                                    <i class="fa fa-reorder"></i>
                                    Tabs & Accordions
                                </a>
                            </li>

                            <li>
                                <a href="./ui-popups.html">
                                    <i class="fa fa-asterisk"></i>
                                    Popups / Notifications
                                </a>
                            </li>

                            <li>
                                <a href="./ui-sliders.html">
                                    <i class="fa fa-tasks"></i>
                                    Sliders
                                </a>
                            </li>

                            <li class="">
                                <a href="./ui-typography.html">
                                    <i class="fa fa-font"></i>
                                    Typography
                                </a>
                            </li>

                            <li class="">
                                <a href="./ui-icons.html">
                                    <i class="fa fa-star-o"></i>
                                    Icons
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;">
                            <i class="fa fa-table"></i>
                            Tables
                            <span class="caret"></span>
                        </a>

                        <ul class="sub-nav">
                            <li>
                                <a href="./table-basic.html">
                                    <i class="fa fa-table"></i>
                                    Basic Tables
                                </a>
                            </li>
                            <li>
                                <a href="./table-advanced.html">
                                    <i class="fa fa-table"></i>
                                    Advanced Tables
                                </a>
                            </li>
                            <li>
                                <a href="./table-responsive.html">
                                    <i class="fa fa-table"></i>
                                    Responsive Tables
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li>
                        <a href="./ui-portlets.html">
                            <i class="fa fa-list-alt"></i>
                            Portlets
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;">
                            <i class="fa fa-bar-chart-o"></i>
                            Charts & Graphs
                            <span class="caret"></span>
                        </a>

                        <ul class="sub-nav">
                            <li>
                                <a href="./chart-flot.html">
                                    <i class="fa fa-bar-chart-o"></i>
                                    jQuery Flot
                                </a>
                            </li>
                            <li>
                                <a href="./chart-morris.html">
                                    <i class="fa fa-bar-chart-o"></i>
                                    Morris.js
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;">
                            <i class="fa fa-file-text-o"></i>
                            Extra Pages
                            <span class="caret"></span>
                        </a>

                        <ul class="sub-nav">
                            <li>
                                <a href="./page-login.html">
                                    <i class="fa fa-unlock"></i>
                                    Login Basic
                                </a>
                            </li>
                            <li>
                                <a href="./page-login-social.html">
                                    <i class="fa fa-unlock"></i>
                                    Login Social
                                </a>
                            </li>
                            <li>
                                <a href="./page-404.html">
                                    <i class="fa fa-ban"></i>
                                    404 Error
                                </a>
                            </li>
                            <li>
                                <a href="./page-500.html">
                                    <i class="fa fa-ban"></i>
                                    500 Error
                                </a>
                            </li>
                            <li>
                                <a href="./page-blank.html">
                                    <i class="fa fa-file-text-o"></i>
                                    Blank Page
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </nav> <!-- #sidebar -->

        </div> <!-- /#sidebar-wrapper -->

        @RenderBody()

    </div> <!-- #wrapper -->

    <footer id="footer">
        <ul class="nav pull-right">
            <li>
                Copyright &copy; 2015 - Eric J. Ruff
            </li>
        </ul>
    </footer>

    <script src="~/Template/canvas-admin-v1/Theme/js/libs/jquery-1.9.1.min.js"></script>
    <script src="~/Template/canvas-admin-v1/Theme/js/libs/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Template/canvas-admin-v1/Theme/js/libs/bootstrap.min.js"></script>

    <script src="~/Template/canvas-admin-v1/Theme/js/plugins/icheck/jquery.icheck.min.js"></script>
    <script src="~/Template/canvas-admin-v1/Theme/js/plugins/select2/select2.js"></script>
    <script src="~/Template/canvas-admin-v1/Theme/js/plugins/tableCheckable/jquery.tableCheckable.js"></script>

    <script src="~/Template/canvas-admin-v1/Theme/js/App.js"></script>

    <script src="~/Template/canvas-admin-v1/Theme/js/libs/raphael-2.1.2.min.js"></script>
    <script src="~/Template/canvas-admin-v1/Theme/js/plugins/morris/morris.min.js"></script>

    <script src="~/Template/canvas-admin-v1/Theme/js/demos/charts/morris/area.js"></script>
    <script src="~/Template/canvas-admin-v1/Theme/js/demos/charts/morris/donut.js"></script>

    <script src="~/Template/canvas-admin-v1/Theme/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <script src="~/Template/canvas-admin-v1/Theme/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Template/canvas-admin-v1/Theme/js/demos/calendar.js"></script>

    <script src="~/Template/canvas-admin-v1/Theme/js/demos/dashboard.js"></script>

</body>
</html>
}
else {
    @RenderBody()
}