@model IEnumerable<Aardvark.Models.Project>
@using Aardvark.Models;
@using Aardvark.Helpers;

@{
    ViewBag.Title = "Index";
}

<h2>Project Index</h2>

<p>
    @if (ViewBag.Roles.Contains(R.Admin) || ViewBag.Roles.Contains(R.Guest))
    {
        @Html.ActionLink("Create New Project", "Create")
    }
    else
    {
        <br />
    }
</p>
@{
    UserRolesHelper helper = new UserRolesHelper();
}
<table class="table">
    <tr>
        <th class="col-sm-2">
            Project #
        </th>
        <th class="col-sm-2">
            @Html.Label("Project Manager")
            @*@Html.DisplayNameFor(model => model.ProjectMgr.FirstName)*@
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Id</td>
        <td class="col-sm-2">
            @{
                string name = helper.GetDisplayName(ProjectsHelper.GetProjectManager(item.Id));
            }
            @name
            @*@Html.Label(helper.GetDisplayName(item.ProjectMgr))*@
            @*@Html.DisplayFor(modelItem => item.ProjectMgr.FirstName)*@
        </td>
        <td class="col-sm-2">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="col-sm-3">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="col-sm-2">
            @if (ViewBag.Roles.Contains(R.Admin) || ViewBag.Roles.Contains(R.Guest))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text>|</text>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, title = "Deleted projects are actually not deleted, and can be restored later." })
            }
            else if (ViewBag.Roles.Contains(R.PM))
            {
                @Html.ActionLink("Assign Developers", "AssignDev", new { id = item.Id }) <text>|</text>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
