@model Aardvark.Models.TicketComment
@using Aardvark.Models;
@{
    ViewBag.Title = "Create";
    //int page = ViewBag.page;
    //string anchor = ViewBag.anchor;
    Ticket ticket = ViewBag.Ticket;
}
<div id="content">
    <div id="content-header">
        <h1>Comment</h1>
    </div> <!-- #content-header -->
    <div id="content-container">


        <h3>Add comment for ticket # @Model.TicketId</h3>
        <hr />
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                Ticket Summary
            </div>
            <div class="col-sm-4">
                Type: @ticket.TicketType.Name; Priority: @ticket.TicketPriority.Name;
                Status: @ticket.TicketStatus.Name; Skill: @ticket.SkillRequired.Name;
                Due Date: @ticket.DueDate.ToLocalTime().ToString("D"); Est. Hrs to Complete: @ticket.HoursToComplete
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                Created
            </div>
            <div class="col-sm-4">
                @ticket.Created.ToLocalTime().ToString("ddd d MMM yyyy")
            </div>
        </div>
        @if (ticket.Updated != null)
        {
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    Updated
                </div>
                <div class="col-sm-4">
                    @ticket.Updated.Value.ToLocalTime().ToString("ddd d MMM yyyy")
                </div>
            </div>
        }

        <br />
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                Title
            </div>
            <div class="col-sm-4">
                @ticket.Title
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                Description
            </div>
            <div class="col-sm-4">
                @ticket.Description
            </div>
        </div>
        <br />
        @if (Model.ParentCommentId != null)
        {
            // Let's display the parent comment here...
            var parent = ViewBag.Parent;
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h4>Commenting on this comment:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-body comment">
                            <p>
                                @parent.Body
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.ParentCommentId)
                @Html.HiddenFor(m => m.Level)
                @Html.HiddenFor(t => t.TicketId)

                <div class="form-group">
                    @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-6">
                        @Html.TextAreaFor(model => model.Body, 4, 90,
                           new { @class = "form-control", title = "Enter your comments here" })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisplayName,
                        htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DisplayName,
                            new { htmlAttributes = new { @class = "form-control", title = "This is the name that displays as creator of this comment" } })
                        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Add the fragment info here... *@
                <div class="hidden">
                    <input type="text" name="id" value=@ViewBag.id />
                    @*<input type="text" name="page" value=@ViewBag.page />
                    <input type="text" name="anchor" value=@ViewBag.anchor />*@
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="@Request.UrlReferrer.PathAndQuery">Back to Ticket</a> |
                            @Html.ActionLink("Back to List", "Index", "Tickets", null, null)
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>







    

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#sidebar-Tickets').addClass('active');
            $('#sidebar-Tickets-Comments').addClass('active');
        });
    </script>
}


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
