@model Aardvark.Models.UserRolesViewModel
@{
    ViewBag.Title = "Home Page";
}
@using Aardvark.Models;
@using Aardvark.Helpers;

<!-- Each cshtml page must start with these first two divs (id="content" and id="content-header") -->
<div id="content">
    <div id="content-header">
        <h1>Dashboard</h1>
    </div> <!-- #content-header -->
</div> <!-- #content -->

@*@(if (Model.Roles.Contains(R.Admin) || Model.Roles.Contains(R.Guest))
{
<h2>
    Main Menu (Admin)
</h2>
<h3>Users</h3>
<ul>
    <li><h4>@Html.ActionLink("Assign/Unassign Users", "ManageUsers")</h4></li>
</ul>

<h3>Projects</h3>
<ul>
    <li><h4>@Html.ActionLink("My Projects", "Index", "Projects", new { scope = "My" }, null)</h4></li>
    <li><h4>@Html.ActionLink("All Projects", "Index", "Projects")</h4></li>
    <li><h4>@Html.ActionLink("Create new project", "Create", "Projects")</h4></li>
</ul>

<h3>Tickets</h3>
<ul>
    <li><h4>@Html.ActionLink("My Tickets", "Index", "Tickets", new { scope = "My" }, null)</h4></li>
    <li><h4>@Html.ActionLink("All Tickets", "Index", "Tickets")</h4></li>
    <li><h4>@Html.ActionLink("Create new ticket", "Create", "Tickets")</h4></li>
</ul>

<h3>Utilities</h3>
<ul>
    <li><h4>@Html.ActionLink("Import Data", "ImportData", "Utilities")</h4></li>
</ul>
}
else if (Model.Roles.Contains(R.ProjectManager))
{
<h2>
    Main Menu (Project Manager)
</h2>
<h3>Projects</h3>
<ul>
    <li><h4>@Html.ActionLink("My Projects", "Index", "Projects", new { scope = "My" }, null)</h4></li>
</ul>

<h3>Tickets</h3>
<ul>
    <li><h4>@Html.ActionLink("My Tickets", "Index", "Tickets", new { scope = "My" }, null)</h4></li>
    <li><h4>@Html.ActionLink("All Tickets", "Index", "Tickets")</h4></li>
    <li><h4>@Html.ActionLink("Create new ticket", "Create", "Tickets")</h4></li>
</ul>
}
else if (Model.Roles.Contains(R.Developer))
{
<h2>
    Main Menu (Developer)
</h2>
<h3>Projects</h3>
<ul>
    <li><h4>@Html.ActionLink("My Projects", "Index", "Projects", new { scope = "My" }, null)</h4></li>
</ul>

<h3>Tickets</h3>
<ul>
    <li><h4>@Html.ActionLink("My Tickets", "Index", "Tickets", new { scope = "My" }, null)</h4></li>
    <li><h4>@Html.ActionLink("All Tickets", "Index", "Tickets")</h4></li>
    <li><h4>@Html.ActionLink("Create new ticket", "Create", "Tickets")</h4></li>
</ul>
}
else if (Model.Roles.Contains(R.Submitter))
{
// Any Submitter can do these...
<h2>
    Main Menu
</h2>
<h3>Tickets</h3>
<ul>
    <li><h4>@Html.ActionLink("My Tickets", "Index", "Tickets", new { scope = "My" }, null)</h4></li>
    <li><h4>@Html.ActionLink("All Tickets", "Index", "Tickets")</h4></li>
    <li><h4>@Html.ActionLink("Create new ticket", "Create", "Tickets")</h4></li>
</ul>
}
else
{
<h4>The Admin will determine if you can create new tickets (<i>this may take a couple of days</i>).</h4>
// Any Authorized User can do these...
<h2>
    Main Menu
</h2>
<h3>Tickets</h3>
<ul>
    <li><h4>@Html.ActionLink("View tickets", "Index", "Tickets")</h4></li>
</ul>
}*@

@section Scripts {
<script>
    $(document).ready(function () {
        $('#sidebar-Dashboard').addClass('active');
    });
</script>
}
