@model Aardvark.Models.UserRolesViewModel
@{
    ViewBag.Title = "Home Page";
}
@using Aardvark.Models;
@using Aardvark.Helpers;

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <h1>Aardvark</h1>
            <br />
            <p class="lead">
                Aardvark seeks out those bugs, won't let 'em hide!
            </p>
            <p class="center">
                <a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">
                    Learn more &raquo;
                </a>
            </p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <img src="http://img11.deviantart.net/8956/i/2008/025/c/7/the_ant_and_the_aardvark_color_by_granitoons.jpg" height="300" />
        </div>
    </div>
    <br />
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-1">

        @*
            The roles are listed in hierarchical order.
            But first we must ensure there is an authorized user...
        *@
        @if (Model.UserId == null) 
        {
            // Nobody signed in yet...
            <h3 class="warning">You must first 
                @Html.ActionLink("log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) or
                @Html.ActionLink("register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                before you can do anything with Aardvark
            </h3>
        }
        else if (Model.Roles.Contains(R.Admin) || Model.Roles.Contains(R.Guest))
        {
            <h2>
                Main Menu (Admin)
            </h2>
            <h3>Users</h3>
            <ul>
                <li><h4>@Html.ActionLink("Assign/Unassign Users","ManageUsers")</h4></li>
            </ul>

            <h3>Projects</h3>
            <ul>
                <li><h4>@Html.ActionLink("Create new project","Create","Projects")</h4></li>
                <li><h4>@Html.ActionLink("View/Edit projects (all)", "Index", "Projects")</h4></li>
                <li><h4>@Html.ActionLink("Assign Project Manager to projects", "Index","Projects")</h4></li>
                <li><h4>@Html.ActionLink("Assign Developers to projects","Index","Projects")</h4></li>
            </ul>

            <h3>Tickets</h3>
            <ul>
                <li><h4>@Html.ActionLink("Create new ticket","Create","Tickets")</h4></li>
                <li><h4>@Html.ActionLink("View tickets","Index","Tickets")</h4></li>
            </ul>
        }
        else if (Model.Roles.Contains(R.ProjectManager))
        {
            <h2>
                Main Menu (Project Manager)
            </h2>
            <h3>Projects</h3>
            <ul>
                <li><h4>@Html.ActionLink("View projects assigned to me", "Index", "Projects")</h4></li>
                <li><h4>@Html.ActionLink("Assign Developers to projects", "Index", "Projects")</h4></li>
            </ul>

            <h3>Tickets</h3>
            <ul>
                <li><h4>@Html.ActionLink("Create new ticket", "Create", "Tickets")</h4></li>
                <li><h4>@Html.ActionLink("View tickets", "Index", "Tickets")</h4></li>
            </ul>
        }
        else if (Model.Roles.Contains(R.Developer))
        {
            <h2>
                Main Menu (Developer)
            </h2>
            <h3>Projects</h3>
            <ul>
                <li><h4>@Html.ActionLink("View projects assigned to me", "Index", "Projects")</h4></li>
            </ul>

            <h3>Tickets</h3>
            <ul>
                <li><h4>@Html.ActionLink("Create new ticket", "Create", "Tickets")</h4></li>
                <li><h4>@Html.ActionLink("View tickets", "Index", "Tickets")</h4></li>
            </ul>
        }
        else if (Model.Roles.Contains(R.Submitter))
        {
            // Any Submitter can do these...
            <h2>
                Main Menu
            </h2>
            <h3>Tickets</h3>
            <ul>
                <li><h4>@Html.ActionLink("Create new ticket", "Create", "Tickets")</h4></li>
                <li><h4>@Html.ActionLink("View tickets", "Index", "Tickets")</h4></li>
            </ul>
        }
        else
        {
            <h4>The Admin will determine if you can create new tickets (<i>this may take a couple of days</i>).</h4>
            // Any Authorized User can do these...
            <h2>
                Main Menu
            </h2>
            <h3>Tickets</h3>
            <ul>
                <li><h4>@Html.ActionLink("View tickets", "Index", "Tickets")</h4></li>
            </ul>
        }
    </div>
</div>